/* Default light theme */
.hg-button {
  color: #000; /* Default text color for keyboard */
  background-color: #fff; /* Default background color */
}

/* Dark theme */
.dark-mode .hg-button {
  color: #fff; /* Text color for dark mode for keyboard */
  background-color: #333; /* Background color for dark mode */
}


